﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>SinceriT</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Scripts.Render("~/bundles/jquery")

    <link rel="stylesheet" type="text/css" media="screen and (max-device-width: 480px)" href="@Styles.Url("~/Content/iphone.css")">
    <link rel="stylesheet" media="all and (min-device-width: 481px)" href="@Styles.Url("~/Content/ipad-landscape.css")">
    @*<link rel="stylesheet" type="text/css" href="@Styles.Url("~/Content/jquery.mobile-1.4.2.min.css_")">*@
</head>
<body>
    @RenderBody()
</body>
</html>
