﻿<div id="container">
    <div id="header">
        <div id="lng">
            <a class="selected" onclick="window.location='@Url.Action("ChangeCulture", "Home", new { lang = "en" })'">EN</a><a class="blue" onclick="window.location='@Url.Action("ChangeCulture", "Home", new { lang = "de" })'">DE</a><a class="blue" onclick="window.location='@Url.Action("ChangeCulture", "Home", new { lang = "ru" })'">RU</a>
        </div>
        <div id="logo">
            <img src="@Styles.Url("~/Content/Images/logo.png")" onclick="hideMore();"/>
        </div>
        <div id="quota" onclick="showRequest(event);"><span class="request_border violet"><img src="@Styles.Url("~/Content/Images/request_envelope.png")" /><span>@Resources.Home.RequestAQuota</span></span></div>
        <div class="clearfix"></div>
        <div id="arrows">
            <span id="arrow1"></span>
            <span id="arrow2"></span>
            <span id="arrow3"></span>
        </div>
    </div>
    <div id="content">
        <div id="col1" class="col">
            <div>
                <div class="col_envelope"></div>
            </div>
            <div>
                <div>
                    <div class="col_header"><div class="title" onclick="clickMore(1);"><img src="@Styles.Url("~/Content/Images/who.png") " /><span>@Resources.Home.Who</span></div></div>
                </div>

            </div>
            <div>
                <div class="col_content">
                    <div>@Html.Raw(@Resources.Home.WhoArticleShort)</div>
                </div>
            </div>
            <div>
                <div class="col_footer"><span onclick="clickMore(1);">@Resources.Home.More</span></div>
            </div>
        </div>
        <div id="col2" class="col">
            <div>
                <div class="col_envelope"></div>
            </div>
            <div>
                <div>
                    <div class="col_header"><div class="title" onclick="clickMore(2);"><img src="@Styles.Url("~/Content/Images/what.png")" /><span>@Resources.Home.What</span></div></div>

                </div>
            </div>
            <div>
                <div class="col_content">
                    <div>@Html.Raw(@Resources.Home.WhatArticleShort)</div>
                </div>
            </div>
            <div>
                <div class="col_footer"><span onclick="clickMore(2);">@Resources.Home.More</span></div>
            </div>
        </div>
        <div id="col3" class="col">
            <div>
                <div class="col_envelope"></div>
            </div>
            <div>
                <div>
                    <div class="col_header"><div class="title" onclick="clickMore(3);"><img src="@Styles.Url("~/Content/Images/how.png")" /><span>@Resources.Home.How</span></div></div>
                </div>
            </div>
            <div>
                <div class="col_content">
                    <div>@Html.Raw(@Resources.Home.HowArticleShort)</div>
                </div>
            </div>
            <div>
                <div class="col_footer"><span onclick="clickMore(3);">@Resources.Home.More</span></div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div id="more_content" class="more_col">
        <div>
            <div class="morecol_envelope"></div>
        </div>
        <div id="more_header">
            <div id="head1" class="header">
                <div><div class="title" onclick="clickMore(1);"><div class="img"></div><span>@Resources.Home.Who</span><div id="shape1" class="shape"></div></div></div>
            </div>
            <div id="head2" class="header">
                <div><div class="title" onclick="clickMore(2);"><div class="img"></div><span>@Resources.Home.What</span><div id="shape2" class="shape"></div></div></div>
            </div>
            <div id="head3" class="header">
                <div><div class="title" onclick="clickMore(3);"><div class="img"></div><span>@Resources.Home.How</span><div id="shape3" class="shape"></div></div></div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div id="articles">
            <div>
                <div id="article1">
                    @Html.Raw(@Resources.Home.WhoArticle)
                </div>
                <div id="article2">
                    @Html.Raw(@Resources.Home.WhatArticle)
                </div>
                <div id="article3">
                    @Html.Raw(@Resources.Home.HowArticle)
                </div>
            </div>
        </div>
    </div>
    <div style="position:relative">
        <div id="tooltip">
            <div class="tooltip_header">
                <span class="closeWindow" onclick="hideTooltip(event);"></span>
            </div>
            <div class="tooltip_content">
            </div>
            <div class="tooltip_footer"></div>
        </div>
        <div id="custproj">
                <div id="customers">
                    <span>
                        <span style="vertical-align:middle;">@Resources.Home.Customers</span>
                        <!--<img src="@Styles.Url("~/Content/Images/Projects/proj1.png")" content="custtip1" />
                        <img src="@Styles.Url("~/Content/Images/Projects/proj2.png")" content="custtip2" />
                        <img src="@Styles.Url("~/Content/Images/Projects/proj3.png")" content="custtip3" />-->
                        <img width="100"src="@Styles.Url("~/Content/Images/Projects/order.png")" content="custtip4" />
                        <img height="23" src="@Styles.Url("~/Content/Images/Projects/bitsens.png")" content="custtip5" />
                        <img width="140" src="@Styles.Url("~/Content/Images/Projects/TeamSoft.png")" content="custtip6" />
                        <span style="vertical-align:middle">&lt;&lt; @Resources.Home.Customers</span>
                    </span>
                </div>
                <div id="separator"></div>
                <div id="projects">
                    <span>
                        <span>@Resources.Home.Projects<span>&nbsp;&gt;&gt;</span></span>
                        
                        <a href="https://itunes.apple.com/de/app/successplaner/id493611649?mt=8" target="_blank"><img tooltip="no" width="40" height="40" src="@Styles.Url("~/Content/Images/Projects/SUCCESS.png")" /></a>
                        @*<span style="background-size:32px;display:inline-block;width:34px;height:34px;background-image:url(@Styles.Url("~/Content/Images/Projects/SUCCESS.png"))" onclick="window.open('https://itunes.apple.com/de/app/successplaner/id493611649?mt=8');" />*@
                        <a href="https://itunes.apple.com/us/app/jovote/id901393540?ls=1&mt=8" target="_blank"><img tooltip="no" width="40" height="40" src="@Styles.Url("~/Content/Images/Projects/jovote.png")" /></a>
    <a><img width="40" height="40" src="@Styles.Url("~/Content/Images/Projects/proj3.png")" content="projtip3" /></a>
                        <a href="http://order.by" target="_blank"><img tooltip="no" width="40" src="@Styles.Url("~/Content/Images/Projects/ord.png")" /></a>
                        <a href="http://navsegda.by" target="_blank"><img tooltip="no" height="40" src="@Styles.Url("~/Content/Images/Projects/nav.png")" /></a>
                        <!--    <img src="@Styles.Url("~/Content/Images/Projects/proj2.png")" content="projtip5" />
                            <img src="@Styles.Url("~/Content/Images/Projects/proj3.png")" content="projtip6" />-->
</span>
 </div>
                <div class="clearfix"></div>
        </div>
        <div id="custtip1" class="hidden">
            @Html.Raw(@Resources.Home.Customer1)
        </div>
        <div id="custtip2" class="hidden">
            @Html.Raw(@Resources.Home.Customer2)
        </div>
        <div id="custtip3" class="hidden">
            @Html.Raw(@Resources.Home.Customer3)
        </div>
        <div id="custtip4" class="hidden">
            @Html.Raw(@Resources.Home.Customer4)
        </div>
        <div id="custtip5" class="hidden">
            @Html.Raw(@Resources.Home.Customer5)
        </div>
        <div id="custtip6" class="hidden">
            @Html.Raw(@Resources.Home.Customer6)
        </div>
        <div id="projtip1" class="hidden">
            @Html.Raw(@Resources.Home.Project1)
        </div>
        <div id="projtip2" class="hidden">
            @Html.Raw(@Resources.Home.Project2)
        </div>
        <div id="projtip3" class="hidden">
            @Html.Raw(@Resources.Home.Project3)
        </div>
        <div id="projtip1" class="hidden">
            @Html.Raw(@Resources.Home.Project4)
        </div>
        <div id="projtip2" class="hidden">
            @Html.Raw(@Resources.Home.Project5)
        </div>
        <div id="projtip3" class="hidden">
            @Html.Raw(@Resources.Home.Project6)
        </div>
    </div>
    <div class="footer">
        <div class="footercol">
            <img src="@Styles.Url("~/Content/Images/drusak.png")" />
            <div class="person">
                <div>@Resources.Home.DmitryRusak</div>
                <div>@Resources.Home.DmitryRusakPosition</div>
                <div>@Resources.Home.DmitryRusakCountry</div>
                <div class="contacts"><img src="@Styles.Url("~/Content/Images/skype.png")" /><span>rusak.dzmitry</span></div>
                <div class="contacts"><img src="@Styles.Url("~/Content/Images/mail.png")" /><span>dmitry.rusak@sincerit.com</span></div>
                <div class="contacts"><img src="@Styles.Url("~/Content/Images/phone.png")" /><span>+442035197623</span></div>
            </div>
            <div class="separator"></div>
        </div>
        <div class="footercol">
            <img src="@Styles.Url("~/Content/Images/aikhelis.png")" />
            <div class="person">
                <div>@Resources.Home.AlexIkhelis</div>
                <div>@Resources.Home.AlexIkhelisPosition</div>
                <div>@Resources.Home.AlexIkhelisCountry</div>
                <div class="contacts"><img src="@Styles.Url("~/Content/Images/skype.png")" /><span>alex_ikhelis</span></div>
                <div class="contacts"><img src="@Styles.Url("~/Content/Images/mail.png")" /><span>alex.ikhelis@sincerit.com</span></div>
                <div class="contacts"><img src="@Styles.Url("~/Content/Images/phone.png")" /><span>+447867865217</span></div>
            </div>
            <div class="separator"></div>
        </div>
        <div class="footercol">
            <img src="@Styles.Url("~/Content/Images/mdadychyn.png")" />
            <div class="person">
                <div>@Resources.Home.MaxDadychyn</div>
                <div>@Resources.Home.MaxDadychynPosition</div>
                <div>@Resources.Home.MaxDadychynCountry</div>
                <div class="contacts"><img src="@Styles.Url("~/Content/Images/skype.png")" /><span>dadychyn</span></div>
                <div class="contacts"><img src="@Styles.Url("~/Content/Images/mail.png")" /><span>max.dadychyn@sincerit.com</span></div>
                <div class="contacts"><img src="@Styles.Url("~/Content/Images/phone.png")" /><span>+375336869918</span></div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div id="shadow"></div>
<div id="requestquote">
    <div class="request_header">
        <span onclick="hideRequest();"></span>
    </div>
    <div class="request_header2">
        <div></div>
    </div>
    <div class="clearfix"></div>

    <div class="request_content">
        <div>
            <div>@Resources.Home.RequestAQuotaSmall</div>
            <div><input id="name" placeholder="@Resources.Home.YourName" onkeyup="validateControls(this);" /></div>
            <div><input id="company" placeholder="@Resources.Home.YourCompany" onkeyup="validateControls(this);" /></div>
            <div><input id="email" placeholder="@Resources.Home.YourEmail" onkeyup="validateControls(this);" /></div>
            <div><textarea id="decription" data-role="none" placeholder="@Resources.Home.YourDescription" onkeyup="validateControls(this);"></textarea></div>
            <span class="completionMessage">@Resources.Home.CompletionMessage</span>
            <span class="disabled" id="requestButton" onclick="requestQuota();">@Resources.Home.RequestQuota</span>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/script")
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-49409505-1', 'sincerit.com');
    ga('send', 'pageview');

</script>