﻿* {
    margin: 0;
    padding: 0;
    border-collapse: collapse;
}

@font-face {
    font-family: "PFDinTextPro-Bold";
    src: url('../Content/Fonts/pfdintextpro-bold-webfont.eot');
    src: url('../Content/Fonts/pfdintextpro-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../Content/Fonts/pfdintextpro-bold-webfont.woff') format('woff'), url('../Content/Fonts/pfdintextpro-bold-webfont.ttf') format('truetype');
}

@font-face {
    font-family: "PFDinTextPro-Medium";
    src: url('../Content/Fonts/pfdintextpro-medium-webfont.eot');
    src: url('../Content/Fonts/pfdintextpro-medium-webfont.eot?#iefix') format('embedded-opentype'), url('../Content/Fonts/pfdintextpro-medium-webfont.woff') format('woff'), url('../Content/Fonts/pfdintextpro-medium-webfont.ttf') format('truetype');
}

@font-face {
    font-family: "PFDinTextPro-Regular";
    src: url('../Content/Fonts/pfdintextpro-regular-webfont.eot');
    src: url('../Content/Fonts/pfdintextpro-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../Content/Fonts/pfdintextpro-regular-webfont.woff') format('woff'), url('../Content/Fonts/pfdintextpro-regular-webfont.ttf') format('truetype');
}

html, body, form {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: PFDinTextPro-Regular;
}

.clearfix {
    clear: both;
}

.violet {
    color: #9266b5;
}

.blue {
    color: #568eb0;
}

.hidden {
    display: none;
}

.title {
    display: inline-block;
}

    .title:hover {
        cursor: pointer;
    }

.shape {
    background: url("../Content/Images/shape.png") repeat;
    width: 132px;
    height: 51px;
    position: absolute;
    left: 30%;
    top: -10px;
}

A {
    font-family: PFDinTextPro-Bold;
    color: #568eb0;
    margin-right: 10px;
}

    A.selected {
        color: #000;
        text-decoration: none;
    }

body {
    background: url("../Content/Images/subtle_white_feathers.png") repeat;
}

#container {
    margin: 0 auto;
    width: 978px;
    min-height: 100%;
    position: relative;
}

    #container > #header {
        height: 100px;
        line-height: 100px;
        vertical-align: middle;
        width: 100%;
        margin-bottom: 50px;
    }

    #container > #header #lng a:hover {
        cursor:pointer;
    }

        #container > #header > div {
            width: 326px;
            float: left;
        }

#logo {
    text-align: center;
}

    #logo img {
        vertical-align: middle;
    }

        #logo img:hover {
            cursor: pointer;
        }

#arrows {
    position: relative;
}

    #arrows #arrow1 {
        position: absolute;
        background: url("../Content/Images/arrow1.png") no-repeat;
        display: inline-block;
        width: 169px;
        height: 48px;
        left: 165px;
        top: -35px;
    }

    #arrows #arrow2 {
        position: absolute;
        background: url("../Content/Images/arrow2.png") no-repeat;
        display: inline-block;
        width: 14px;
        height: 38px;
        left: 500px;
    }

    #arrows #arrow3 {
        position: absolute;
        background: url("../Content/Images/arrow3.png") no-repeat;
        display: inline-block;
        width: 172px;
        height: 50px;
        left: 620px;
        top: -35px;
    }


#quota {
    text-align: right;
    font-size: 12pt;
    font-weight: bold;
    font-stretch: condensed;
}

    #quota img {
        margin-right: 10px;
        vertical-align: middle;
    }

    #quota span {
        vertical-align: middle;
    }

    #quota .request_border {
        background: url("../Content/Images/request_border.png") no-repeat;
        line-height: normal;
        width: 203px;
        height: 33px;
        line-height: 33px;
        display: inline-block;
    }

        #quota .request_border:hover {
            cursor: pointer;
        }

        #quota .request_border span {
            margin-right: 20px;
        }

    #quota .request_envelope {
        background: url("../Content/Images/request_envelope.png") center center no-repeat;
    }

#content {
    padding: 0 0 0 0;
    border-collapse: collapse;
}

.footer {
    height: 150px;
    margin-top: 30px;
}

.col, .footercol {
    width: 313px;
    float: left;
    display: table;
}

.footercol {
}

    .footercol img {
        float: left;
        margin-right: 25px;
    }

    .footercol .separator {
        border-right: 1px dotted #cacaca;
        height: 65px;
        margin-top: 20px;
    }

.col {
    height: 434px;
}

    .col > div {
        display: table-row;
    }

        .col > div > div {
            display: table-cell;
        }

        .col > div:first-child {
            height: 22px;
        }

        .col > div:nth-child(2) > div {
            height: 40px;
        }

        .col > div:last-child {
            height: 25px;
        }

.col_envelope {
    background: url("../Content/Images/content_envelope_header.png") no-repeat;
    width: 313px;
    height: 22px;
}

.col_header {
    border-left: 1px dotted #cacaca;
    border-right: 1px dotted #cacaca;
    text-align: center;
    color: #568eb0;
    height: 100%;
}

    .col_header img {
        vertical-align: middle;
        margin-right: 10px;
    }

    .col_header span {
        vertical-align: middle;
        font-size: 26px;
        font-family: PFDinTextPro-Medium;
    }

.col_content {
    border-left: 1px dotted #cacaca;
    border-right: 1px dotted #cacaca;
    padding-left: 25px;
    padding-right: 25px;
}

    .col_content > div {
        color: #777777;
        height: 100%;
        overflow: hidden;
        font-family: Arial;
        font-size: 13px;
        line-height: 170%;
    }

    .col_content ul li {
        list-style-image: url("../Content/Images/li_image.png");
        list-style-position: inside;
    }

.col_footer {
    border-left: 1px dotted #cacaca;
    border-right: 1px dotted #cacaca;
    border-bottom: 1px dotted #cacaca;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 25px;
}

    .col_footer > span {
        height: 25px;
        border: 2px solid #568eb0;
        color: #568eb0;
        line-height: 25px;
        font-size: 14px;
        padding-left: 15px;
        padding-right: 15px;
    }

        .col_footer > span:hover {
            cursor: pointer;
        }

#col2, .footer > div:nth-child(2) {
    margin-left: 20px;
}

#col3, .footer > div:nth-child(3) {
    float: right;
}

.more_col {
    display: none;
    min-height: 434px;
}

    .more_col > div {
        display: table-row;
    }

        .more_col > div > div {
            display: table-cell;
        }

        .more_col > div:first-child {
            height: 22px;
        }

        .more_col > div:nth-child(2) {
            height: 40px;
        }

.morecol_envelope {
    background: url("../Content/Images/morecontent_header.png") no-repeat;
    width: 978px;
    height: 22px;
}


#more_header {
    text-align: center;
    color: #568eb0;
}

    #more_header .header {
        position: relative;
    }

    #more_header > div {
        float: left;
        width: 313px;
        text-align: center;
    }

    #more_header img {
        vertical-align: middle;
        margin-right: 10px;
    }

    #more_header span {
        vertical-align: middle;
        font-size: 26px;
    }

    #more_header > div#head1 {
        height: 40px;
        font-family: PFDinTextPro-Medium;
    }

        #more_header > div#head1 .img {
            background-image: url("../Content/Images/who.png");
            background-repeat: no-repeat;
            width: 31px;
            height: 26px;
            margin: 0;
            padding: 0;
            display: inline-block;
            vertical-align: middle;
            margin-right: 10px;
        }

        #more_header > div#head1.selected {
            color: #777777;
        }

            #more_header > div#head1.selected .img {
                background-image: url("../Content/Images/who_sel.png");
            }

        #more_header > div#head1 > div {
            height: 100%;
            border-left: 1px dotted #cacaca;
            border-right: 1px dotted transparent;
        }

    #more_header > div#head2 {
        margin-left: 20px;
        height: 40px;
        font-family: PFDinTextPro-Medium;
    }

        #more_header > div#head2 .img {
            background-image: url("../Content/Images/what.png");
            background-repeat: no-repeat;
            width: 22px;
            height: 27px;
            margin: 0;
            padding: 0;
            display: inline-block;
            vertical-align: middle;
            margin-right: 10px;
        }

        #more_header > div#head2.selected {
            color: #777777;
        }

            #more_header > div#head2.selected .img {
                background-image: url("../Content/Images/what_sel.png");
            }

    #more_header > div#head3 {
        float: right;
        height: 40px;
        font-family: PFDinTextPro-Medium;
    }

        #more_header > div#head3 .img {
            background-image: url("../Content/Images/how.png");
            background-repeat: no-repeat;
            width: 30px;
            height: 28px;
            margin: 0;
            padding: 0;
            display: inline-block;
            vertical-align: middle;
            margin-right: 10px;
        }

        #more_header > div#head3.selected {
            color: #777777;
        }

            #more_header > div#head3.selected .img {
                background-image: url("../Content/Images/how_sel.png");
            }

        #more_header > div#head3 > div {
            height: 100%;
            border-right: 1px dotted #cacaca;
            border-left: 1px dotted transparent;
        }

#more_content {
    height: 434px;
    border-bottom: 1px dotted #cacaca;
}

    #more_content #articles {
        color: #777777;
        font-family: Arial;
        font-size: 13px;
        line-height: 170%;
        height: 100%;
        border-left: 1px dotted #cacaca;
        border-right: 1px dotted #cacaca;
    }

        #more_content #articles > div {
            height: 100%;
        }

            #more_content #articles > div > div {
                padding-left: 25px;
                padding-right: 25px;
                padding-bottom: 15px;
                height: 100%;
            }

            #more_content #articles > div li {
                list-style-image: url("../Content/Images/li_image.png");
                list-style-position: inside;
                margin-left: 10px;
            }

#custproj {
    border: 1px dotted #cacaca;
    height: 55px;
    margin-top: 35px;
    padding-top: 15px;
    text-align: center;
}

#customers {
    text-align: right;
    color: #3d3d3d;
    width: 480px;
    display: inline-block;
}

    #customers > span > span:first-child {
        display: none;
    }

    #customers > span > span:last-child {
        display: inline;
        font-family: PFDinTextPro-Medium;
        font-size: 14px;
        font-weight: bold;
    }

    #customers > span > img {
        vertical-align: middle;
        margin-left: 5px;
        margin-right: 5px;
    }

        #customers > span > img:hover {
            cursor: pointer;
        }

    #customers > span > span {
        vertical-align: middle;
    }

#separator {
    border-left: 1px solid #568eb0;
    border-right: 1px solid #568eb0;
    width: 0px;
    height: 30px;
    margin-left: 2px;
    margin-right: 2px;
    vertical-align: middle;
    display: inline-block;
}

#projects {
    text-align: left;
    color: #3d3d3d;
    width: 480px;
    display: inline-block;
}

    #projects a img {
        vertical-align: middle;
        margin-left:5px;
        margin-right:5px;

    }

    #projects > span > span > span {
        display: inline;
    }

    #projects > span > img {
        vertical-align: middle;
        margin-left: 5px;
        margin-right: 5px;
    }

        #projects > span > img:hover {
            cursor: pointer;
        }

    #projects > span > span {
        vertical-align: middle;
        font-family: PFDinTextPro-Medium;
        font-size: 14px;
        font-weight: bold;
    }

.person {
    float: left;
    font-family: PFDinTextPro-Regular;
    font-size: 13px;
    margin-right: 10px;
}

    .person > div:first-child {
        font-size: 16px;
        font-weight: bold;
    }

    .person > div:nth-child(2), .person > div:nth-child(3) {
        color: #568eb0;
    }

    .person > div:nth-child(3) {
        margin-bottom: 10px;
    }

    .person .contacts {
        margin-bottom: 3px;
    }

        .person .contacts > img {
            vertical-align: middle;
            margin-right: 5px;
        }

        .person .contacts > span {
            vertical-align: middle;
        }

#requestquote {
    width: 422px;
    height: 425px;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -211px;
    margin-top: -212px;
}

    #requestquote .request_header {
        float: left;
        background: url("../Content/Images/request_corner.png") no-repeat;
        width: 19px;
        height: 19px;
    }

    #requestquote .request_header2 {
        float: left;
        background-color: white;
        width: 403px;
        height: 19px;
    }

        #requestquote .request_header2 div {
            margin-top: 2px;
            margin-right: 2px;
            border-top: 1px dashed #cacaca;
            border-right: 1px dashed #cacaca;
            height: 100%;
        }

    #requestquote .request_header span {
        background: url("../Content/Images/request_cross.png");
        width: 11px;
        height: 12px;
        position: absolute;
        right: 15px;
        top: 10px;
        color: #568eb0;
    }

        #requestquote .request_header span:hover {
            cursor: pointer;
        }

    #requestquote .request_content {
        background: linear-gradient(to bottom, #ffffff 0%,#f8f8f8 100%);
        padding-bottom: 2px;
    }

        #requestquote .request_content > div {
            height: 100%;
            border-left: 1px dashed #cacaca;
            border-right: 1px dashed #cacaca;
            border-bottom: 1px dashed #cacaca;
            margin-left: 2px;
            margin-right: 2px;
            padding-bottom: 20px;
        }

        #requestquote .request_content div div {
            width: 335px;
            margin: 0 auto;
        }

            #requestquote .request_content div div:first-child {
                font-family: PFDinTextPro-Regular;
                font-size: 26px;
                text-align: center;
                margin-bottom: 25px;
                color: #568eb0;
            }

        #requestquote .request_content > div span {
            font-family: PFDinTextPro-Bold;
            height: 25px;
            border: 2px solid #568eb0;
            color: #568eb0;
            line-height: 25px;
            font-size: 14px;
            padding-left: 15px;
            padding-right: 15px;
            margin-left: 275px;
        }

            #requestquote .request_content > div span.disabled {
                border-color: #cacaca;
                color: #cacaca;
            }

            #requestquote .request_content > div span.completionMessage {
                display: none;
                border: none;
                margin: 0;
                text-align: center;
                color: #777777;
                font-family: PFDinTextPro-Regular;
            }

            #requestquote .request_content > div span:hover {
                cursor: pointer;
            }

        #requestquote .request_content .valid {
            border: 1px solid green;
        }

        #requestquote .request_content .invalid {
            border: 1px solid red;
        }

        #requestquote .request_content input {
            width: 100%;
            height: 32px;
            margin-bottom: 30px;
        }

        #requestquote .request_content textarea {
            height: 80px;
            width: 100%;
            margin-bottom: 20px;
        }

#shadow {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: black;
    opacity: 0.4;
}

#tooltip {
    width: 263px;
    display: none;
    position: absolute;
}

    #tooltip .tooltip_header {
        background: url("../Content/Images/tooltip_header.png");
        width: 263px;
        height: 14px;
    }

        #tooltip .tooltip_header span {
            background: url("../Content/Images/cross.png");
            width: 9px;
            height: 9px;
            position: absolute;
            right: 5px;
            top: 5px;
            color: #568eb0;
        }

            #tooltip .tooltip_header span:hover {
                cursor: pointer;
            }

    #tooltip > .tooltip_content {
        height: 100%;
        border-left: 1px dashed #cacaca;
        border-right: 1px dashed #cacaca;
        background: white;
        padding-left: 25px;
        padding-right: 25px;
        padding-bottom: 10px;
        color: #444444;
        font-family: Arial;
        font-size: 12px;
    }

        #tooltip > .tooltip_content span:last-child {
            color: #8a8a8a;
            padding-bottom: 5px;
            font-size: 11px;
        }

    #tooltip .tooltip_footer {
        background: url("../Content/Images/tooltip_footer.png");
        width: 263px;
        height: 18px;
    }
